<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body></body>
  <script>
    //ES5
    function Plane(name) {
      this.name = name;
      this.blood = 100;
    }
    Plane.prototype.fly = function() {
      console.log(this.name + "plane fly");
    };
    let p1 = new Plane("Arthas");
    p1.fly();
    let p2 = new Plane("Monica");
    p2.fly();

    // ES6
    class Planes {
      constructor(name) {
        this.name = name;
        this.blood = 120;
      }
      fly() {
        console.log(this.name + " can fly");
      }
    }
    let p3 = new Planes('AAA')
    p3.fly()
</script>
</html>
